:root {
    --Purple: #a2f;
    --RichBlack: #0d1321;
    --PrussianBlue: #1d2d44;
    --MaxBluePurple: #a7abdd;
    --Mauve: #dabfff;
}

body {
    background-color: var(--RichBlack);
    color: white;
    margin: 0px;
    font-family: sans-serif;
}

.navbar {
    background-image: linear-gradient(var(--RichBlack), var(--PrussianBlue));
    width: 100%;
    padding: 0px;
    border-bottom-style: solid;
    border-color: var(--PrussianBlue);
    border-width: 5px;
    padding: 10px 16px;
    position: fixed;
    font-family: "Audiowide", sans-serif;
}

.nav-left {
    display: inline-block;
}

.nav-right {
    float: right;
    padding-right: 20px;
}

.home-button {
    color: white;
    text-decoration: none;
}

.social-button
{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}

.social
{
    display: inline-block;
    vertical-align: middle;
}

.logo
{
    width: 20px;
}

h1 {
    margin: 0px;
    font-size: 70px;
}

.content {
    padding: 150px 16px;
}
  